@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
     .parent{
       /* background-image: url('/background.jpg'); */
       background-image: url('/bg2.jpg');
       background-position: center center;
       background-size: auto;
       height: 100vh
     }

     .main-bg{
      background-color: #2b233f;
     }
 } 